[submodule "quvi/libquvi"]
	path = quvi/libquvi
	url = git://github.com/legatvs/libquvi.git
[submodule "quvi/libquvi-scripts"]
	path = quvi/libquvi-scripts
	url = git://github.com/alexmarsev/libquvi-scripts.git
[submodule "quvi/lua"]
	path = quvi/lua
	url = git://github.com/LuaDist/lua.git
